{% extends 'dashboard/base.html' %}

{% block view_content %}
    <div class="workspace col-lg-12">
        <div class="text-center">
            <h1>Słownik</h1>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="img-thumbnail">
         <img src="{{ dictionary.logo.url }}" alt="lorem_pixel" width="300" height="300">
            <div class="caption">
                <h2>{{ dictionary.title }}</h2>
                <h4>Opis...</h4>
            </div>
        </div>
    </div>

    <style>
        .table-hover > tbody tr:hover > td,
        .table-hover > tbody tr:hover > th {
            background-color: salmon;
        }
    </style>
        <div class="col-lg-6">
            <table id="id_list_table" class="table table-hover table-striped table-condensed">

                {% for word in words %}
                    <tr>
                        <td>{{ forloop.counter }}: {{ word }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>

{% endblock %}