{% extends 'base.html' %}

{% block view_content %}
    <div class="workspace col-lg-12 jumbotron">
        <div class="text-center">
            <h1>Witaj!</h1>
        </div>
        <div class="text-left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper tellus est, non rhoncus odio
                condimentum non. Praesent mollis leo arcu, eget interdum ipsum tristique ornare. Aenean malesuada
                sagittis molestie. Nulla congue erat in orci consectetur, sit amet volutpat nunc consectetur. Quisque
                vel nisi gravida, interdum leo at, aliquam mi. Praesent condimentum finibus leo, a commodo metus
                accumsan facilisis. Pellentesque sit amet magna sed tortor bibendum vehicula a ac massa.
                Integer malesuada, massa et lacinia dictum, tellus dui mattis erat, sed pulvinar justo nibh nec lorem.
            </p>
            <p>
                Etiam eu ornare sapien. Maecenas imperdiet viverra libero, vel placerat orci. Donec facilisis eu
                sem ut rutrum. Curabitur sed leo urna. Aenean ligula diam, pulvinar ut lorem ac, venenatis pretium diam.
                Curabitur varius urna non risus elementum, et consequat lectus elementum. Aliquam at libero scelerisque,
                viverra urna vitae, aliquam augue. Integer ac viverra neque. Pellentesque id aliquet velit.
                Sed risus metus, convallis quis efficitur sit amet, maximus et purus. Aenean sagittis, quam ut
                tincidun condimentum, orci erat volutpat orci, vestibulum tincidunt augue diam id dui.
            </p>
        </div>
    </div>
{% endblock %}